
 <% if user_signed_in? %>
 <table class="table table-striped table-bordered table-hover">
    <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Character Most Like:</th>
       <th></th>
    </tr>
  </thead>

   <tbody>
      <% @friends.each do |friend| %>
        <% if friend.user == current_user %>
        <tr>
          <td>
<%= link_to friend.first_name + ' ' + friend.last_name, friend %>


          </td>
          
          <td><%= friend.email %></td>
          <td><%= friend.phone %></td>
          <td><%= friend.character_most_like %></td>
          
          
         
          
          
          
           <td><%= link_to 'Delete', 
          friend_path(friend), data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this friend?' }, class: 'btn btn-outline-danger' %>
          
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'Add Friend', new_friend_path, class:"btn btn-secondary" %>

<% else %>


<div class="card bg-light mb-3">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="https://i.ibb.co/d5rYgzD/292c0c26-2da3-4bcf-9491-ab1d7ac32fe4.gif"   border="0" class="card-img, img-fluid, img-thumbnail" alt="Responsive image">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        
        <h1 class="card-title" style="font-family: 'Luckiest Guy', cursive;"> <span class="text-primary">Welcome</span> <span class="text-success"> To </span> <span class="text-danger"> Ciri </span> <span class="text-warning"> and </span> <span style="color:purple">Friends </span> <span style="color:darkturquoise;"> App </span></h1>
        
        <div class="btn-group btn-group-lg" role="group" aria-label="Buttons"> <h1><%= link_to "Sign Up",new_user_registration_path, class:"btn btn-info btn-lg mr-3" %></h1>   <br/><br/>
         
         <h1><%= link_to "Sign In", new_user_session_path, class:"btn btn-primary btn-lg" %></h1></div>
        
       

      </div>
    </div>
  </div>
</div>


<style>
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
</style>

<% end %>





